

.ui-container {
	max-width:var(--page-width-medium);
	margin-left:auto;
	margin-right:auto;
}

.ui-container--small {
	max-width:var(--page-width-small);
}

.ui-container--large {
	max-width:var(--page-width-large);
}