@layer ui {
	:root {
		/* sets the spacing of the default buttons */
		--button-spacing: 1.5em;
		--button-child-spacing: .75em;

		/* sets the spacing if the button has a seprator  */
		--button-spacing--separator: 1em;
	}

	.ui-button {
		/* Reset */
		text-decoration:none;
		box-sizing:border-box;
		color: inherit;
		cursor:pointer;
		padding: 0;
		font: inherit;
		line-height: inherit;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		vertical-align: middle;
		position: relative;
		max-width:100%;
		
		border: 0;
		background: transparent;
		appearance: none;
		
		transition: 0.3s all ease-in-out;
		
		font-size: var(--ui-input-fontsize--medium);
		height: var(--ui-input-height--medium);

		padding-left: var(--button-spacing);
		padding-right: var(--button-spacing);
	}

	.ui-button__label {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}


	/* spacing */
	.ui-button > * { margin: 0 calc(var(--button-child-spacing) / 2) }
	.ui-button.ui-button--separator > * { margin: 0 calc(var(--button-spacing--separator) / 2) }
	.ui-button > *:first-child { margin-left: 0; }
	.ui-button > *:last-child { margin-right: 0; }


    /* Fill */
	.ui-button--text {
		padding: 0;
	}
	
    .ui-button--outline {
		border: 1px solid black;
	}

	.ui-button--fill {
		background: black;
		color: #fff;
	}


    /* Icon */
	.ui-button__icon {
		display: flex;
		align-items: center;
		height: 1em;
	}

	.ui-button__icon > * {
		width: auto; 
		height: 100%;
	}

	/* Separator */
	.ui-button--separator {
		padding-left: var(--button-spacing--separator);
		padding-right: var(--button-spacing--separator);
	}

	.ui-button__separator {
		width: 1px; height: 100%;
		background: black;
	}


    /* Block */
    .ui-button--block {
		width: 100%;
	}


	/* Font size */
	.ui-button--small {
		height: var(--ui-input-height--small);
		font-size: var(--ui-input-fontsize--small);
	}

	.ui-button--large {
		height: var(--ui-input-height--large);
		font-size: var(--ui-input-fontsize--large);
	}

	.ui-button--icon {
		width: var(--ui-input-height--medium);
		padding: 0;
	}

}