
/* use integer pixel 
 values for best results */

:root {
	--ui-burger-line-width:25px;
    --ui-burger-line-height:2px;
    --ui-burger-line-space:6px;
	--ui-burger-height: calc(
		var(--ui-burger-line-height) * 3 + 
		var(--ui-burger-line-space) * 2
	);
	--ui-burger-color: black;
}

.ui-burger {
	padding:0;
    border:0;
    background:0;
	cursor:pointer;

	display:flex;
	align-items:center;
	justify-content:center;

	width: var(--ui-input-height--medium);
	height: var(--ui-input-height--medium);
	font-size: var(--ui-input-fontsize--medium);
}

.ui-burger__inner {
	display:block;
    position:relative;
    width:var(--ui-burger-line-width);
    height:var(--ui-burger-height);
}

.ui-burger__top,
.ui-burger__patty,
.ui-burger__bottom {
    width:var(--ui-burger-line-width);
    height:var(--ui-burger-line-height);
    display:block;
    position:absolute;
    left:0;
    background-color: var(--ui-burger-color);
}

.ui-burger__top {
	top:0;
}

.ui-burger__patty {
    position: absolute;
    top: calc(50% - calc(var(--ui-burger-line-height)/2));
}

.ui-burger__bottom {
    position: absolute;
    bottom: 0;
}

.ui-burger__inner, 
.ui-burger__inner > span {
	transition: all 0.4s var(--ui-ease-2, ease-in-out);
}

.ui-burger[open] .ui-burger {
	transform:rotate(0deg);
}

.ui-burger[open] .ui-burger__patty {
    transform:scaleX(0);
    opacity:0;
}

.ui-burger[open] .ui-burger__top {
/*    top: calc(50% - calc(var(--ui-burger-line-height)/2));*/
}

.ui-burger[open] .ui-burger__top {
    transform: 
    	translateY(calc(
    		var(--ui-burger-line-height) + var(--ui-burger-line-space)
    	)) 
    	rotate(45deg)
    ;
}

.ui-burger[open] .ui-burger__bottom {
    transform: 
	    translateY(calc(
	    	-1 * (var(--ui-burger-line-height) + var(--ui-burger-line-space))
	    ))
    	rotate(-45deg)
    ;
}