
/* use integer pixel 
 values for best results */

:root {
	--burger-line-width:30px;
    --burger-line-height:3px;
    --burger-line-space:7px;
	--burger-height: calc(
		var(--burger-line-height) * 3 + 
		var(--burger-line-space) * 2
	);
	--burger-color: black;
}

burger-button {
	display:flex;
	align-items:center;
	justify-content:center;
}

.ui-burger {
	display:block;
    position:relative;
    width:var(--burger-line-width);
    height:var(--burger-height);
    cursor:pointer;
    padding:0;
    border:0;
    background:0;
}

.ui-burger__top,
.ui-burger__patty,
.ui-burger__bottom {
    width:var(--burger-line-width);
    height:var(--burger-line-height);
    display:block;
    position:absolute;
    left:0;
    background-color: var(--burger-color);
}

.ui-burger__top {
	top:0;
}

.ui-burger__patty {
    position: absolute;
    top: calc(50% - calc(var(--burger-line-height)/2));
}

.ui-burger__bottom {
    position: absolute;
    bottom: 0;
}

.ui-burger, .ui-burger > span {
	transition: all 0.3s var(--ui-ease-2, ease-in-out);
}

burger-button[open] .ui-burger {
	transform:rotate(0deg);
}

burger-button[open] .ui-burger__patty {
    transform: rotate(45deg);
}

burger-button[open] .ui-burger__top,
burger-button[open] .ui-burger__bottom {
    top: calc(50% - calc(var(--burger-line-height)/2));
}

burger-button[open] .ui-burger__top {
    transform: rotate(135deg);
}

burger-button[open] .ui-burger__bottom {
    transform: rotate(135deg);
    opacity:0;
}