@import '../../variables.css';

.ui-container {
	max-width: var(--ui-page-width);
	margin-left:auto;
	margin-right:auto;
}

.ui-container {
	max-width: var(--ui-page-width-medium-min);
}

.ui-container--small {
	max-width: var(--ui-page-width-small-min);
}

.ui-container--large {
	max-width: var(--ui-page-width-large-min);
}