@import './mixins.less';
@import '../variables.css';


@grid-columns: 12;

.grid {
	display:inline-flex;
	flex-wrap: wrap;
	min-width: 100%;
}

// gutter
.grid--gutter-x, .grid--gutter {
	margin-left:calc(var(--ui-grid-gutter) * -1);
	[class*=col-] { padding-left:var(--ui-grid-gutter) }
}

.grid--gutter-y, .grid--gutter {
	position: relative;
	top:calc(var(--ui-grid-gutter) * -1);
	margin-bottom:calc(var(--ui-grid-gutter) * -1);
	[class*=col-] { padding-top:var(--ui-grid-gutter) }
}

// .col-x classes
[class*=col-] { 
	width:100%; 
	box-sizing: border-box;
}

.for(@grid-columns, {
	.col-@{i} { width: (100% / @grid-columns * @i) }
});

// .col-x@breakpoint classes
.for-n-per-breakpoint(@grid-columns, {
	.col-@{i}\@@{breakpoint} { width: (100% / @grid-columns * @i) }
});