

@layer ui {

    .grid {
        display:flex;
        flex-wrap:wrap;
        --grid-gutter:2rem;
    }
    
    .grid--small { --grid-gutter:1rem; }
    
        
    .grid--gutter-x, .grid--gutter {
        margin-left:calc(var(--grid-gutter) * -1);
        > * { padding-left:var(--grid-gutter) }
    }
    
    .grid--gutter-y, .grid--gutter {
        margin-top:calc(var(--grid-gutter) * -1);
        > * { padding-top:var(--grid-gutter) }
    }

    [class*=col-] { 
        width:100%;
        box-sizing: border-box;
    }

    .col-1 { width: 8.333%; }
    .col-2 { width: 16.666%; }
    .col-3 { width: 25%; }
    .col-4 { width: 33.332%; }
    .col-5 { width: 41.665%; }
    .col-6 { width: 50%; }
    .col-7 { width: 58.331%; }
    .col-8 { width: 66.664%; }
    .col-9 { width: 75%; }
    .col-10 { width: 83.33%; }
    .col-11 { width: 91.663%; }
    .col-12 { width: 100%; }

    @media (max-width: 55em) {
        [class*=col-] { width:100%; }
    }


}

