:root {
	--ui-carousel-item-width: 30em;
    --ui-carousel-item-margin: 2em;
    --ui-carousel-item-padding: 2em;
}

.swiper-wrapper {
    height: auto;
    display: flex;
}

.ui-carousel__item {
    box-sizing: border-box;
    width: var(--ui-carousel-item-width);
}

.ui-carousel__item__inner {
    margin-right: var(--ui-carousel-item-margin);
    padding: var(--ui-carousel-item-padding);
    background: #F4F4F4;
    height: 100%;
}

.ui-carousel--no-loop .ui-carousel__item:last-of-type .ui-carousel__item__inner {
    margin-right: 0;
}

.ui-carousel--center .ui-carousel__item__inner {
    margin: 0 calc(var(--ui-carousel-item-margin) / 2);
}


// Navigation

.ui-carousel__navigation {
    display: flex;
}

.ui-carousel__navigation__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.4em; height: 3.4em;
    background: transparent;
    border: 1px solid black;
    border-radius: 100%;
    margin-right: 0.5em;
    margin-top: var(--ui-carousel-item-margin);
    cursor: pointer;
}

.ui-carousel__navigation__button::after {
    display: block;
    font-size: 1.25em;
}

.ui-carousel__navigation--prev::after {
    content: "→";
}

.ui-carousel__navigation--next::after {
    content: "←";
}

.swiper-button-disabled {
    cursor: default;
    opacity: 0.3;
}


// Pagination

.ui-carousel__pagination {
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

.ui-carousel__pagination__item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1em; height: 1em;
    border: 1px solid black;
    border-radius: 100%;
    margin-right: 0.5em;

    cursor: pointer;
    box-sizing: border-box;
}

.ui-carousel__pagination__item:last-of-type {
    margin-right: 0;
}

.ui-carousel__pagination__item::before {
    content: '';
    display: block;

    opacity: 0;
    width: 0; height: 0;
    background: black;
    border-radius: 100%;

    transition: 0.3s all ease-in-out;
}

.ui-carousel__pagination__item.active::before {
    width: 0.625em; height: 0.625em;
    opacity: 1;
}