@layer ui {
	:root {
		--button-spacing-y: .75em;
		--button-spacing-x: 1em;
        --button-icon-gap: .5em;

		--button-font-size: 1rem;
		--button-icon-size: 1em;

		--button-icon-padding: 1em;
		--button-icon--small: 1.25em;
		--button-icon--medium: 1.75em;
		--button-icon--large: 2em;
	}

	.ui-button {
		/* Reset */
		text-decoration:none;
		box-sizing:border-box;
		font-size: var(--button-font-size);
		color: inherit;
		line-height:1.5em;
		cursor:pointer;
		padding: 0;
		font: inherit;

		display: inline-flex;
		align-items: center;
		justify-content: center;
		vertical-align:middle;
		position: relative;
		
		border: 0;
		background: transparent;
		appearance: none;
		
		transition: 0.3s all ease-in-out;
		margin-right: 1em;
        margin-bottom: 1em;

        padding: var(--button-spacing-y) var(--button-spacing-x);
	}

    .ui-button--text {
        padding: 0;
    }

    /* Fill */
    .ui-button--outline {
		border: 1px solid black;
	}

	.ui-button--fill {
		background: black;
		color: #fff;
	}


    /* Icon */

	.ui-button__icon {
		display: flex;
		align-items: center;

		height: var(--button-icon-size);
	}

	.ui-button__icon > * {
		width: auto; 
		height: 100%;
	}

    .ui-button__icon--left {
		padding-right: var(--button-icon-gap);
	}

	.ui-button__icon--right {
		padding-left: var(--button-icon-gap);
	}

    /* Block */

    .ui-button--block {
		width: 100%;
	}

    /* Sizes */

	.ui-button--small {
		font-size: 0.85rem;
	}

	.ui-button--large {
		font-size: 1.15rem;
	}

	/* Icon */

	.ui-button--icon {
	    padding: var(--button-icon-padding);
	}

	.ui-button--icon .ui-button__icon {
	    height: var(--button-icon--small);
	}

	.ui-button--icon.ui-button--medium .ui-button__icon {
	    height: var(--button-icon--medium);
	}

	.ui-button--icon.ui-button--large .ui-button__icon {
	    height: var(--button-icon--large);
	}
}