@layer ui {
	:root {
		--button-y-spacing: 0.5em;
		--button-x-spacing: 0.75em;
	
		--button-font-size: 1rem;
		--button-icon-size: 1.2em;
	}	

	.button {
		background:red;
	}

	.ui-button {
		/* Reset */
		text-decoration:none;
		font-size: var(--button-font-size);
		color: inherit;
		line-height:1.5em;
		cursor:pointer;
		padding: 0;
		font: inherit;

		display: inline-flex;
		align-items: center;
		justify-content: center;
		vertical-align:middle;
		position: relative;
		
		border: 0;
		background: transparent;
		appearance: none;
		margin-right: 1em;

		transition: 0.3s all ease-in-out;
	}

	/* Types */

	.ui-button--outline {
		border: 1px solid black;
	}

	.ui-button--fill {
		background: black;
		color: #fff;
	}

	.ui-button--outline, .ui-button--fill {
		padding-left: var(--button-x-spacing);
		padding-right: var(--button-x-spacing);
	}
	
	.ui-button__label {
		padding-top: var(--button-y-spacing);
		padding-bottom: var(--button-y-spacing);
	}

	.ui-button__icon--left {
		padding-right: var(--button-x-spacing);
	}

	.ui-button__icon--right {
		padding-left: var(--button-x-spacing);
	}

	/* Icon */

	.ui-button__icon {
		display: flex;
		align-items: center;

		height: var(--button-icon-size);
	}

	.ui-button__icon > * {
		width: auto; 
		height: 100%;
	}

	/* Sizes */

	.ui-button--small {
		font-size: 0.9rem;
	}

	.ui-button--large {
		font-size: 1.1rem;
	}




/* 
	.ui-button--medium {
		padding: calc(var(--button-y-spacing) * 1.2) calc(var(--button-x-spacing) * 1.2);
	}

	.ui-button--large {
		font-size: 1.2em;
		padding: calc(var(--button-y-spacing) * 1.5) calc(var(--button-x-spacing) * 1.5);
	} */
	




}