@import './../variables.css';

@layer ui {

	:root {
		--textinput-label-spacing: .5em;
		--textinput-line-color:black;
		--textinput-color:black;
	}

	/* variants */
	.ui-textinput--stacked {
		display: inline-flex;
		flex-direction: column;
		width: fit-content;
		vertical-align:middle;
	}

	.ui-textinput--block,
	.ui-textinput--block .ui-textinput__input, 
	.ui-textinput--block .ui-textinput__label {
		display: block;
		width: 100%;
	}
	
	/* Spacing */
	.ui-textinput--stacked .ui-textinput__label,
	.ui-textinput--block .ui-textinput__label {
		margin-bottom: var(--textinput-label-spacing);
	}

	.ui-textinput--inline .ui-textinput__label {
		margin-right: var(--textinput-label-spacing);
	}

	/* Font size */
	.ui-textinput--small {
		font-size: var(--ui-input-fontsize--small);
	}

	.ui-textinput--medium {
		font-size: var(--ui-input-fontsize--medium);
	}

	.ui-textinput--large {
		font-size: var(--ui-input-fontsize--large);
	}

	/* input styling */

	.ui-textinput__label {
		font-size: 1em;
	}

	.ui-textinput__input {
		letter-spacing: inherit;
		display: inline-block;
		font-family:inherit;
		appearance: none;
		-webkit-appearance:none;

		font-size: 1em;
		line-height: var(--ui-input-height--medium);
		height: var(--ui-input-height--medium);
		padding: 0 .75em;
		min-width: 10em;

		color: var(--textinput-color);
		border: 1px solid var(--textinput-line-color);
		border-radius: 0;
	}

	.ui-textinput__input::focus {
		outline: var(--ui-focus-color);
	}

	.ui-textinput__input::placeholder {
		color: grey;
	}

	.ui-textinput--small .ui-textinput__input {
		height: var(--ui-input-height--small);
	}

	.ui-textinput--large .ui-textinput__input{
		height: var(--ui-input-height--large);
	}
	
}