:root {
    --ui-breadcrumb-spacing: 1em;
    --ui-breadcrumb-icon-size: 0.75em;
}

.ui-breadcrumbs__item {
    display: inline-block;
    margin-top: var(--ui-breadcrumb-spacing);
}

.ui-breadcrumbs__item:not(:last-of-type) {
    margin-right: var(--ui-breadcrumb-spacing);
}

.ui-breadcrumbs__item:not(:last-of-type)::after {
    content: "";
    display: inline-block;

    height: var(--ui-breadcrumb-icon-size); 
    width: var(--ui-breadcrumb-icon-size);
    margin-left: var(--ui-breadcrumb-spacing);

    background-image: url('./assets/arrow-right.svg');
    background-repeat: no-repeat;
	background-size: auto var(--ui-breadcrumb-icon-size);
    background-position: center center;        
}