@import '../../variables.css';

@layer ui {

    .ui-mediatext__media,
    .ui-mediatext__content {
        width: 50%;
        box-sizing: border-box;
    }

    @media (max-width: 55em) {
        .ui-mediatext__media,
        .ui-mediatext__content {
            width: 100%;
        }    
    }

    @media (min-width: 55em) {
        .ui-mediatext--right .ui-mediatext__media {
            order: 2;
        }
    
        .ui-mediatext--right .ui-mediatext__content{
            order: 1;
        }
    }
}