@import '../../styles/breakpoints.less';
@import '../../variables.css';


.ui-mediatext__media__inner {
    min-height: 25em;
    @media (min-width: @medium) {
        min-height: 32em;
    }
}

.ui-mediatext__content__inner {
	box-sizing: border-box;
}

.ui-mediatext--position-right {
	flex-direction: row-reverse;
}

/* Full width MediaText */

.ui-mediatext--fullwidth {
    --ui-mediatext-fullwidth-content-width: var(--ui-page-width);
    @media (min-width: @medium) {
        --ui-mediatext-fullwidth-content-width: calc(var(--ui-page-width-large-min) / 2);
    }
}

.ui-mediatext--fullwidth .ui-mediatext__content__inner {
    margin: 0 auto;
    max-width: var(--ui-mediatext-fullwidth-content-width);
    margin-top: var(--ui-grid-gutter);
    margin-bottom: var(--ui-grid-gutter);
}


@media(min-width:@medium) {
	.ui-mediatext--fullwidth.ui-mediatext--position-left .ui-mediatext__content__inner {
	    margin-left:0;
	    padding-left:var(--ui-grid-gutter);
	}

	.ui-mediatext--fullwidth.ui-mediatext--position-right .ui-mediatext__content__inner {
	    margin-right:0;
	    padding-right:var(--ui-grid-gutter);
	}
}