:root {
	--ui-accordion-padding: 1.2em;
	--ui-accordion-icon-size: 1.8em;
	--ui-accordion-icon-gap: 1.5em;
	--ui-accordion-icon-color: currentColor;
	--ui-accordion-icon-width: 2px;
}

.ui-accordion {
	margin-bottom: 2px;
}

.ui-accordion__button {
	border:0;
	display: flex;
	align-items: center;
	cursor: pointer;
	width:100%;
	font:inherit;
	text-align:inherit;
	background: #F5F5F5;
	padding: 1em var(--ui-accordion-padding);
}

.ui-accordion__title {
	width: calc(100% - var(--ui-accordion-icon-size) - var(--ui-accordion-icon-gap));
}

.ui-accordion__icon {
	width: var(--ui-accordion-icon-size); height: var(--ui-accordion-icon-size);
	border-radius: 100%;
	border: var(--ui-accordion-icon-width) solid var(--ui-accordion-icon-color);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-left: var(--ui-accordion-icon-gap);
}

.ui-accordion__icon::before,
.ui-accordion__icon::after {
	content: "";
	display: block;
	height: var(--ui-accordion-icon-width);
	width: 0.75em;
	position: absolute;
	transition: 0.4s all ease-in-out;
}

.ui-accordion__icon::before {
	background: var(--ui-accordion-icon-color);
}

.ui-accordion__icon::after {
	background: var(--ui-accordion-icon-color);
	transform: rotate(-90deg);
}

.ui-accordion--open .ui-accordion__icon::before {
	transform: rotate(90deg);
	width: 0;
}

.ui-accordion--open .ui-accordion__icon::after {
	background: var(--ui-accordion-icon-color);
	transform: rotate(0deg);
}

.ui-accordion__content {
	overflow: hidden;
	transition: 0.3s all ease-in-out;
}

.ui-accordion__content__inner {
	background: #F5F5F5;
	padding: var(--ui-accordion-padding);
}