.accordion {
	margin-bottom: 0.5em;
}

.accordion__title {
	display: block;
	position: relative;

	padding: 1rem;
	padding-right: 4rem;
	background: #f5f5f5;
}

.accordion__content {
	overflow:hidden;
	transition:all 0.5s var(--ui-ease-1);
	height:0px;
}

.accordion__content__inner {
	padding: 1em;
	background: #f5f5f5;
}

.accordion--open .accordion__content {
	height:auto;
}

.accordion__title:before {
	content: "+";
	position: absolute;

	top: calc(50% - 1rem); right: 1rem;
	width: 2rem; height: 2rem;
	text-align: center;
	font-size: 1em;
	line-height: 1em;
	font-weight: 500;
	border-radius: 100%;
	box-shadow: inset 0px 0px 0px 1px #000;

	display: flex;
	display: -ms-flexbox;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	transition:all 0.5s var(--ui-ease-1);
}

.accordion--open .accordion__title:before {
	transform:rotate(45deg);
}