@import './../variables.css';

@layer ui {
    .ui-fullwidth-feature {
        position: relative;
        min-height: 80vh;
    }

    .ui-fullwidth-feature__content  {
        position: relative;
        z-index: 10;
    }

    .ui-fullwidth-feature__overlay {
        background: rgba(0,0,0,0.5);
        z-index: 5;
    }
    
    .ui-fullwidth-feature__media {}
    
}